---

- hosts: all
  become: yes
  tasks:
  -  name: Install zabbix-agent on RedHat Family
     yum:
        name=zabbix-agent
        state=latest
     when:
        ansible_os_family == "RedHat"
     notify:
        zabbix-agent systemd
  -  name: Install zabbix-agent on Ubuntu
     apt:
        name=zabbix-agent
        state=latest
     when:
        ansible_os_family == "Debian"
     notify:
        zabbix-agent systemd
  -  name: Config zabbix-agent on RedHat Family
     template:
        src: /etc/ansible/common/files/zabbix_agentd_centos.conf
        dest: /etc/zabbix_agentd.conf
        owner: root
        group: root
        mode: u=rw,g=rw,o=r
     when:
        ansible_os_family == "RedHat"
  -  name: Config zabbix-agent on Ubuntu
     template:
        src: /etc/ansible/common/files/zabbix_agentd_ubuntu.conf
        dest: /etc/zabbix/zabbix_agentd.conf
        owner: root
        group: root
        mode: u=rw,g=rw,o=r
     when:
        ansible_os_family == "Debian"
  handlers:
  -  name: zabbix-agent systemd
     systemd:
        name: zabbix-agent.service
        enabled: yes
        state: started
